label{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-right: 300px;

}

.toppingsSection {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}


button {
    display: flex;
    margin: auto;
}

/* input {
    margin: 1rem;
} */